@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--secondary-color);

  min-height: 100vh;
}


.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}

a{
  text-decoration: none;;
}

a:hover{
  border-bottom: 2px solid darkgray;
}

/*
button {
  background: var(--primary-color);
  color: white;
  border: 1px solid white;
  padding: 0.3em 1em;
  cursor: pointer;
}*/
