.InputWrapper {
  display: flex;
}

.placeholder {
  margin-right: 5px;
}

.Input {
  background: none;
  border: none;
  color: var(--primary-color);
  outline: none;
}

.readonly {
  opacity: 0.7;
}
