.InputWrapper {
  display: flex;
}

.placeholder {
  margin-right: 5px;
  width: 200px;
}

.Input {
  background: none;
  border: none;
  color: var(--primary-color);
  outline: none;
  width: 100%;
}

.readonly {
  opacity: 0.7;
  width: 100%;
}
