.ListBox {
  position: relative;
}

.trigger {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.options {
  background: var(--listbox-bg);
  position: absolute;
  z-index: 10000;
  border-right: 12px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
}

.item {
  padding: 5px 15px;
  cursor: pointer;
}

.active {
  background: var(--inverted-primary-color);
}

.disabled {
  opacity:0.3;
}

.optionTop {
  bottom: 100%;
}