.app.dark {
  --bg-color: #2d3137;
  --inverted-bg-color: #202124;
  --primary-color: #04ff04;
  --secondary-color: #00d100;
  --inverted-primary-color: #2f57ff;
  --inverted-secondary-color: #001746;
}
