.app_dark_theme {
  --bg-color: #2d3137;
  --inverted-bg-color: #202124;
  --primary-color: #04ff04;
  --secondary-color: #00d100;
  --inverted-primary-color: #2f57ff;
  --inverted-secondary-color: #001746;

  // Skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // Code
  --code-bg: #202124;

  // Card
  --card-bg: #202124;
}
