:root {
  --bg-color: #f9f9f9;
  --inverted-bg-color: #080b37;
  --primary-color: #5e69ee;
  --secondary-color: #3c428b;
  --inverted-primary-color: #39afea;
  --inverted-secondary-color: #39afea;

  // Skeleton
  --skeleton-color: #3c428b;
  --skeleton-shadow: #080b37;

  // Code
  --code-bg: #080b37;
}
