:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;

  --primary-color: #2f57ff;
  --secondary-color: #001746;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
