.app_ocean_theme {
  --bg-color: #f4fbfb;
  --inverted-bg-color: #20494a;
  --primary-color: #20494a;
  --secondary-color: #142e1f;
  --inverted-primary-color: #f4fbfb;
  --inverted-secondary-color: #142e1f;
}
