.ProfilePageHeader {
  display: flex;
  margin-bottom: 20px;

  .edit {
    margin-left: auto;
  }

  .editBtn {
    margin-left: auto;
    margin-right: 10px;
  }
}

.btnWrapper {
  margin-left: auto;
}