.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.input {
  white-space: nowrap;
  width: 100%;;
}

.avatarWrapper {
  min-height: 100px;
}

.loading,
.error {
  height: 300px;
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}
