.Dropdown {
  position: relative;
}

.trigger {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.menu {
  background: var(--card-bg);
  position: absolute;
  z-index: 10000;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  flex-direction: column;
  display: flex;
}

.item {
  padding: 5px 25px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--primary-color);
  cursor: pointer;
  border-radius: 8px;
}

.active {
  background: var(--inverted-primary-color);
}

.optionBottomLeft {
  top: 100%;
  right: 0;
}

.optionBottomRight {
  top: 100%;
  left: 0;
}

.optionTopLeft {
  bottom: 100%;
  right: 0;
}

.optionTopRight {
  bottom: 100%;
  left: 0;
}
